@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
}
* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    font-family: Poppins;
}
:root {
    /* colors and pallet */
    --WP-Background-Light: #FCFBF8;
    --WP-Accent-D: #9F5E98;
    --WP-Primary-D: #4482BA;
    --WP-Guidance-D: #818181;
    --WP-input-D: #ececec;
}
body {
    background-color: var(--WP-Background-Light);
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====== sign up's in common ====== */

svg {
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
svg:hover {
    filter: drop-shadow(0 0 5px var(--WP-Primary-D));
}

.signup--instruction {
    margin-top: 100px;
    margin-bottom: 90px;
}
.signup--instruction h1 {
  text-align: center;
  font-size: 40px;
}
.signup--instruction p {
  color: var(--WP-Guidance-D);
  text-align: center;
}

.signup--information {
  display: flex;
  flex-direction: column;
}
.signup--information input[type="text"]{
  width: 324px;
  height: 62.9px;
  border:  2px solid var(--WP-input-D);
  border-radius: 7px;
  margin-bottom: 18px;
  transition: all 0.13s ease-in-out; 
}
.signup--information input[type="text"]:focus{
  outline: 3px solid var(--WP-Accent-D);
  filter: drop-shadow(0 0 5px var(--WP-Accent-D));
}
.signup--information button {
  width: 325px;
  height: 53.65px;
  background-color: var(--WP-Primary-D);
  border-radius: 7px;
  color: white;
  border: 0px;
  cursor: pointer;
}

.signup--switch {
  display: flex;
  gap: 7px;
  position: fixed;
  bottom: 20px; 
}
.signup--switch p {
  color: var(--WP-Guidance-D);
}
.signup--switch a {
  color: var(--WP-Accent-D);
  text-decoration:underline;
}

/* ====== sign up 1st step ====== */

/* ====== sign up email notification ====== */
.email-p {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ====== sign up 2nd step ====== */