@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
  }
  
  * {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    font-family: Poppins;
  }
  :root {
    /* colors and pallet */
    --WP-Background-Light: #FCFBF8;
    --WP-Accent-D: #9F5E98;
    --WP-Primary-D: #4482BA;
    --WP-Guidance-D: #818181;
    --WP-input-D: #ececec;
  }
  body {
    background-color: var(--WP-Background-Light);
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  svg {
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  svg:hover {
    filter: drop-shadow(0 0 5px var(--WP-Primary-D));
  }
  
  /* ====== sign in ====== */
  
  .signin--instruction {
    margin-top: 100px;
    margin-bottom: 112px;
  }
  .signin--instruction h1 {
    text-align: center;
    font-size: 40px;
  }
  .signin--instruction p {
    color: var(--WP-Guidance-D);
    text-align: center;
  }
  
  .signin--information {
    display: flex;
    flex-direction: column;
  }
  .signin--information input[type="text"],.signin--information input[type="password"]{
    width: 324px;
    height: 62.9px;
    border:  2px solid var(--WP-input-D);
    border-radius: 7px;
    margin-bottom: 18px;
    transition: all 0.13s ease-in-out;
  }
  .signin--information input[type="text"]:focus,.signin--information input[type="password"]:focus{
    outline: 3px solid var(--WP-Accent-D);
    filter: drop-shadow(0 0 5px var(--WP-Accent-D));
  }
  .signin--information a {
    color: var(--WP-Accent-D);
    text-decoration: underline;
    margin-bottom: 50px;
  }
  .signin--information button {
    width: 325px;
    height: 53.65px;
    background-color: var(--WP-Primary-D);
    border-radius: 7px;
    color: white;
    border: 0px;
    cursor: pointer;
  }
  
  .signin--switch {
    display: flex;
    gap: 7px;
    position: fixed;
    bottom: 20px;
  }
  .signin--switch p {
    color: var(--WP-Guidance-D);
  }
  .signin--switch a {
    color: var(--WP-Accent-D);
    text-decoration: underline;
  }